---
layout: page
title: Courses
permalink: /courses/
---

Feel free to use the in-built browser search to find a specific course, if there are too many of them. Check out how to do it in
<a href="https://support.google.com/chrome/answer/95440?hl=en&co=GENIE.Platform%3DDesktop#zippy=%2Csearch-within-a-page">Chrome</a>,
<a href="https://support.mozilla.org/en-US/kb/search-contents-current-page-text-or-links">Firefox</a>
(<a href="https://support.mozilla.org/en-US/kb/how-use-find-page-firefox-android">Android</a> /
<a href="https://support.mozilla.org/en-US/kb/search-within-web-page-firefox-ios">iOS</a> /
<a href="https://support.mozilla.org/en-US/kb/find-words-page-firefox-focus-android">Focus Android</a> /
<a href="https://support.mozilla.org/en-US/kb/find-words-page-firefox-focus-ios">Focus iOS</a>),
<a href="https://help.opera.com/en/opera36/browse-the-web/">Opera</a>,
<a href="https://appleinsider.com/articles/21/04/09/how-to-search-website-content-from-within-safari">Safari</a>.

{% assign schools = site.courses | map: "school" | uniq %}

<br>You can quickly jump to {% for school in schools %}
<a href="#{{ school }}">{{ school }}</a>{% if forloop.last != true %}, {% else %}.{% endif %}
{% endfor %}

{% for school in schools %}
{% assign school_courses = site.courses | where: "school", school %}
{% assign codes_unique = school_courses | map: "code" | uniq | sort %}

<h3 id="{{ school }}">{{ school }}</h3>

<table>
  {% for code in codes_unique %}
  {% assign code_courses = school_courses | where: "code", code %}
  {% assign code_semesters = code_courses | map: "semester" | uniq | sort | reverse %}
  <tr>
    <td><b>{{ code }} {{ code_courses.first.name }}</b></td>
    <td>
    {% for semester in code_semesters %}
      {% assign semester_courses = code_courses | where: "semester", semester %}
      {{ semester }}
      {% for course in semester_courses %}
        <a href="{{ site.baseurl }}{{ course.url }}">{{ course.exam_type | capitalize }}</a>{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    <br>
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endfor %}
