<p>
  Feel free to use the in-built browser search to find a specific element, if there are too many of them. Check out how to do it in
  <a href="https://support.google.com/chrome/answer/95440?hl=en&co=GENIE.Platform%3DDesktop#zippy=%2Csearch-within-a-page">Chrome</a>,
  <a href="https://support.mozilla.org/en-US/kb/search-contents-current-page-text-or-links">Firefox</a>
  (<a href="https://support.mozilla.org/en-US/kb/how-use-find-page-firefox-android">Android</a> /
  <a href="https://support.mozilla.org/en-US/kb/search-within-web-page-firefox-ios">iOS</a> /
  <a href="https://support.mozilla.org/en-US/kb/find-words-page-firefox-focus-android">Focus Android</a> /
  <a href="https://support.mozilla.org/en-US/kb/find-words-page-firefox-focus-ios">Focus iOS</a>),
  <a href="https://help.opera.com/en/opera36/browse-the-web/">Opera</a>,
  <a href="https://appleinsider.com/articles/21/04/09/how-to-search-website-content-from-within-safari">Safari</a>.
</p>
