---
layout: page
---

{% assign people_total = 0 %}
{% assign attempts_total = 0 %}
{% assign grade_sum = 0.0 %}
{% assign people_failed = 0 %}
{% assign grade_sum_passed = 0.0 %}
{% for item in page.grades %}
  {% assign people_total = people_total | plus: item.people %}
  {% if item.grade < 6.0 %}
    {% assign attempts_total = attempts_total | plus: item.people %}
    {% assign grade_sum = item.people | times: item.grade | plus: grade_sum %}
    {% if item.grade > 4.0 %}
      {% assign people_failed = people_failed | plus: item.people %}
    {% else %}
      {% assign grade_sum_passed = item.people | times: item.grade | plus: grade_sum_passed %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign people_passed = attempts_total | minus: people_failed %}

<div id="course-content">
  <table>
    <tr>
      <td><b>Registered:</b></td>
      <td id="course-people-total">{{ people_total }}</td>
    </tr>
    <tr>
      <td><b>Attempt made/counted:</b></td>
      <td id="course-attempts-total">{{ attempts_total }}</td>
    </tr>
    <tr>
      <td><b>Percent. of exams assessed as failed:</b></td>
      <td id="course-failed-percent">{{ people_failed | times: 100.0 | divided_by: attempts_total | round: 2 }}%</td>
    </tr>
    <tr>
      <td><b>Average total:</b></td>
      <td id="course-grade-avg">{{ grade_sum | divided_by: attempts_total | round: 2 }}</td>
    </tr>
    <tr>
      <td><b>Average (assessed as passed):</b></td>
      <td id="course-grade-avg-passed">{{ grade_sum_passed | divided_by: people_passed | round: 2 }}</td>
    </tr>
  </table> 
  <div id="course-plot"></div>
  <p>
    <a class="course-plot-save" id="course-plot-save-light">Save light PNG</a>
    or
    <a class="course-plot-save" id="course-plot-save-dark">Save dark PNG</a>
  </p>
  <blockquote>
    <p>Note: this exam was held on {{ page.date | date: "%A, %Y/%m/%d" }}</p>
  </blockquote>
  <br>
  {{ content }}
</div>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/course.css" />
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
<script type="text/javascript">
  var grades = [{% for item in page.grades %}
    { 'grade': {{ item.grade }}, 'people': {{ item.people }} },{% endfor %}
  ].filter(grade => grade.people > 0);
</script>
<script type="module" src="{{ site.baseurl }}/assets/js/course.mjs"></script>
