---
layout: page
---

{% assign people_total = 0 %}
{% assign attempts_total = 0 %}
{% assign grade_sum = 0.0 %}
{% assign people_failed = 0 %}
{% assign grade_sum_passed = 0.0 %}
{% for item in page.grades %}
  {% assign people_total = people_total | plus: item.people %}
  {% if item.grade < 6.0 %}
    {% assign attempts_total = attempts_total | plus: item.people %}
    {% assign grade_sum = item.people | times: item.grade | plus: grade_sum %}
    {% if item.grade > 4.0 %}
      {% assign people_failed = people_failed | plus: item.people %}
    {% else %}
      {% assign grade_sum_passed = item.people | times: item.grade | plus: grade_sum_passed %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign people_passed = attempts_total | minus: people_failed %}

<div id="course-content">
  <table>
    <tr>
      <td><b>Registered:</b></td>
      <td id="course-people-total">{{ people_total }}</td>
    </tr>
    <tr>
      <td><b>Attempt made/counted:</b></td>
      <td id="course-attempts-total">{{ attempts_total }}</td>
    </tr>
    <tr>
      <td><b>Percent. of exams assessed as failed:</b></td>
      <td id="course-failed-percent">{{ people_failed | times: 100.0 | divided_by: attempts_total | round: 2 }}%</td>
    </tr>
    <tr>
      <td><b>Average total:</b></td>
      <td id="course-grade-avg">{{ grade_sum | divided_by: attempts_total | round: 2 }}</td>
    </tr>
    <tr>
      <td><b>Average (assessed as passed):</b></td>
      <td id="course-grade-avg-passed">{{ grade_sum_passed | divided_by: people_passed | round: 2 }}</td>
    </tr>
  </table>

  <div id="course-plot"></div>
  <p>
    <a class="course-plot-save" id="course-plot-save-light">Save light PNG</a>
    or
    <a class="course-plot-save" id="course-plot-save-dark">Save dark PNG</a>
    or
    <label for="course-plot-lang">change plot language to</label> <select id="course-plot-lang" name="plot language">
      <option value="de">Deutsch</option>
      <option value="en">English</option>
      <option value="none">None</option>
   </select>
   or
   <a class="course-plot-save" id="course-plot-absent">toggle absent</a>
  .</p>
  

  <table>
    <tr>
      <td><b>Date:</b></td>
      <td>{{ page.date | date: "%A, %Y/%m/%d" }}</td>
    </tr>
    <tr>
      <td><b>ECTS:</b></td>
      <td>{{ page.ects }}</td>
    </tr>
    <tr>
      <td><b>Semester hours:</b></td>
      <td>{{ page.hours }}</td>
    </tr>
    <tr>
      <td><b>Exam mode:</b></td>
      <td>{{ page.mode | capitalize }}</td>
    </tr>
    <tr>
      <td><b>Language:</b></td>
      <td>{{ page.lang | capitalize }}</td>
    </tr>
  </table>
  <br>
  {{ content }}
</div>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/course.css" />
<script src="{{ site.baseurl }}/assets/js/d3@7.js"></script>
<script src="{{ site.baseurl }}/assets/js/plot@0.6.js"></script>
<script type="text/javascript">
  var grades = [{% for item in page.grades %}
    { 'grade': {{ item.grade }}, 'people': {{ item.people }}, 'text': null },{% endfor %}
  ].filter(grade => grade.people > 0);
  grades = localStorage.getItem('course-plot-absent') === 'false' ? grades.filter(grade => grade.grade < 6.0) : grades;
</script>
<script type="module" src="{{ site.baseurl }}/assets/js/course.mjs"></script>
