---
layout: page
---

{% assign people_total = 0 %}
{% assign attempts_total = 0 %}
{% assign grade_sum = 0.0 %}
{% assign people_failed = 0 %}
{% assign grade_sum_passed = 0.0 %}
{% for item in page.grades %}
  {% assign people_total = people_total | plus: item.people %}
  {% if item.grade < 6.0 %}
    {% assign attempts_total = attempts_total | plus: item.people %}
    {% assign grade_sum = item.people | times: item.grade | plus: grade_sum %}
    {% if item.grade > 4.0 %}
      {% assign people_failed = people_failed | plus: item.people %}
    {% else %}
      {% assign grade_sum_passed = item.people | times: item.grade | plus: grade_sum_passed %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign people_passed = attempts_total | minus: people_failed %}

<div id="course-content">
  <table>
    <tr>
      <td><b>Registered:</b></td>
      <td id="course-people-total">0</td>
    </tr>
    <tr>
      <td><b>Attempt made/counted:</b></td>
      <td id="course-attempts-total">0</td>
    </tr>
    <tr>
      <td><b>Percent. of exams assessed as failed:</b></td>
      <td id="course-failed-percent">0%</td>
    </tr>
    <tr>
      <td><b>Average total:</b></td>
      <td id="course-grade-avg">0.0</td>
    </tr>
    <tr>
      <td><b>Average (assessed as passed):</b></td>
      <td id="course-grade-avg-passed">0.0</td>
    </tr>
  </table> 
  <div id="course-plot"></div>
  <blockquote>
    <p>Note: this exam was held on {{ page.date | date: "%A, %Y/%m/%d" }}</p>
  </blockquote>
  <br>
  {{ content }}
</div>

<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
<script>
  const grades = [{% for item in page.grades %}
    { 'grade': {{ item.grade }}, 'people': {{ item.people }} },{% endfor %}
  ];

  const peopleTotal = grades.reduce((partialSum, a) => partialSum + a.people, 0);
  const attempts = grades.filter(x => x.grade < 6.0);
  const attemptsTotal = attempts.reduce((partialSum, a) => partialSum + a.people, 0);
  const failedAttempts = attempts.filter(x => x.grade > 4.0);
  const failedAttemptsTotal = failedAttempts.reduce((partialSum, a) => partialSum + a.people, 0);
  const gradeTotal = attempts.reduce((partialSum, a) => partialSum + a.people * a.grade, 0);
  const passedAttempts = attempts.filter(x => x.grade <= 4.0);
  const gradePassed = passedAttempts.reduce((partialSum, a) => partialSum + a.people * a.grade, 0);

  const round = function(x, digits)
  {
    const pow = Math.pow(10, digits);
    return Math.round(x * pow) / pow;
  }

  d3.select('#course-people-total').text(peopleTotal);
  d3.select('#course-attempts-total').text(attemptsTotal);
  d3.select('#course-failed-percent').text(`${round(failedAttemptsTotal / attemptsTotal * 100, 2)}%`);
  d3.select('#course-grade-avg').text(round(gradeTotal / attemptsTotal, 2));
  d3.select('#course-grade-avg-passed').text(round(gradePassed / (attemptsTotal - failedAttemptsTotal), 2));

  const barColor = function (d)
  {
    const v = d.grade;
    if (v <= 4.0)
    {
      const hue = (4.0 - v) * 40.0;
      return `hsl(${hue}, 100%, 50%)`;
    }
    else if (v <= 5.0)
    {
      const hue = (5.0 - v) * 25.0 + 25.0;
      return `hsl(0, 100%, ${hue}%)`;
    }
    return 'hsl(0, 0%, 25%)';
  };

  const wrapper = document.querySelector('.wrapper');
  const wrapperStyle = getComputedStyle(wrapper);

  document.getElementById('course-plot').append(Plot.plot({
    marks: [
      Plot.barX(grades, {x: 'people', y: 'grade', fill: barColor}),
      Plot.text(grades, {
        x: 'people',
        y: 'grade',
        text: d => `${round(d.people / attemptsTotal * 100.0, 2)}% #${d.people}`,
        dx: 25})
    ],
    height: Math.round(36.6 * grades.length),
    width: parseInt(wrapperStyle['width']),
    marginRight: 50,
    y: { line: true },
    x: { grid: true }
  }));
</script>
